{% extends "base.html" %}
{% block app_content %}
<h3>Add Items to Shoppingbag:</h3>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.item.label }}<br>
        {{ form.item(size=32) }}<br>
        {% for error in form.item.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.quantity.label }}<br>
        {{ form.quantity }}<br>
        {% for error in form.quantity.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        <div class="btn btn-default">{{ form.submit() }}</div> <a href= {{ url_for('index') }} type="button" class="btn btn-default">Return To ShoppingBag</a>
    </p>
</form>
{% endblock %}