{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}{{ title }}{% else %}ShoppingApp{% endif %}
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-inverse bg-info ">
    {% if user %}<p style="margin-left: 2%; color:white"><small>Welcome, {{ user }}</small></p>{% endif %}

</nav>
{% endblock %}
{% block content %}
{% block error_msg %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="row">
                <div class="text-center">
                        <a href="{{ url_for('index') }}">Home</a>
                        {% if current_user.is_anonymous %}
                        <a href="{{ url_for('login') }}">Login</a>
                        {% else %}
                        <a href="{{ url_for('logout') }}">Logout</a>
                        <hr>
                        {% endif %}
                    </div>
        {% endblock %}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
    </div>
{% endblock %}
