{% extends "base.html" %}

{% block app_content %}
<div class="container">
        <div class="row">
                <h2 class="visible-md visible-lg">SHOPPING BAG</h2>
                <p class="visible-md visible-lg col-xs-3"><small>All Content Owned by DesignRavenous</small></p>
                <div class="dropdown pull-right">
                    <a class="dropdown-toggle btn btn-default " data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span>&nbsp; <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href= {{ url_for('add_new_item') }} ><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Item</a></li>
                        <li><a href= {{ url_for('modify') }}><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Modify Item</a></li>
                        <li class="divider"></li>
                        <li><a href= {{ url_for('delete_all_items') }}><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete All Items</a></li>
                    </ul>
                </div>
            </br>
        </br>
        {% if not_added|length >= 1 or added_to_chart|length >= 1%}
        <table class="table table-striped">
                <div class="col-xs-12">
            <tread>
            <tr>
            <th class="text-center"style="font-family: 'Major Mono Display', monospace;">ITEMS</th>
            <th class="text-center visible-md visible-lg"style="font-family: 'Major Mono Display', monospace;">ADDED BY:</th>
        </tr>
        </tread>
        <tbody>
        {% for post in not_added %}
            {% if post.quantity == 1 %}
                <tr>
                    <td class="text-center" style="font-family: 'Major Mono Display', monospace;"><a href={{ url_for('basket_status', item_id = post.id) }}  style="color:black; text-decoration: none;">{{ post.item.upper() }}</a></td>
                    <td class="text-center visible-md visible-lg" style="font-family: 'Major Mono Display', monospace;">{{ post.author.username }}</td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-center" style="font-family: 'Major Mono Display', monospace;"><a href={{ url_for('basket_status', item_id = post.id) }}  style="color:black; text-decoration: none;">{{ post.item.upper() }}({{ post.quantity }})</a></td>
                    <td class="text-center visible-md visible-lg" style="font-family: 'Major Mono Display', monospace;">{{ post.author.username }}</td>
                </tr>
                {% endif %}
        {% endfor %}
        </tbody>
        </table>
        {% if added_to_chart|length >= 1 %}
        <h5 class="col-xs-5">Already Added:</h5>
        <table class="table table-striped">
            <tbody>
            {% for goodie in added_to_chart %}
                {% if goodie.quantity == 1 %}
                    <tr class="success">
                    <td class="text-center" style="font-family: 'Major Mono Display', monospace;"><del><a href= {{ url_for('basket_status', item_id = goodie.id) }} style="color:black; text-decoration: none;">{{ goodie.item.upper() }}</a></del></td>
                    </tr>
                {% else %}
                    <tr class="success">
                    <td class="text-center" style="font-family: 'Major Mono Display', monospace;"><del><a href= {{ url_for('basket_status', item_id = goodie.id) }} style="color:black; text-decoration: none;">{{ goodie.item.upper() }}({{ goodie.quantity }})</a></del></td>
                    </tr>
            {% endif %}
    {% endfor %}
    {% endif %}
    </tbody>
    </table>
    <hr>
    <h1 class="col-xs-4"></h1><a href={{ url_for('delete_added_items') }} type="button" class="col-xs-4 btn btn-success"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete Added</a><h1 class="col-xs-4"></h1>
    {% else %}
    <h4>Add Groceries To Your ShoppingBag </h4>
    {% endif %}
    </div>
</div>
{% endblock %}