{% extends "base.html" %}

{% block app_content %}
<div class="container">
        <div class="row">
                <h2 class="visible-md visible-lg" style="font-family: 'Montserrat', sans-serif;">SHOPPING BAG</h2>
                <p class="visible-md visible-lg col-xs-3" style="font-family: 'Montserrat', sans-serif;"><small>Easy Way To Remember What To Buy</small></p>
                <div class="dropdown pull-right">
                    <a class="dropdown-toggle btn btn-default " data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span>&nbsp; <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href= {{ url_for('add_new_item') }} ><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Item</a></li>
                        <li class="divider"></li>
                        <li><a href= {{ url_for('delete_all_items') }}><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete All Items</a></li>
                    </ul>
                </div>
            </br>
        </br>
        {% if not_added|length >= 1 %}
        <div class="panel panel-primary">
            <div class="panel-heading" style="font-family: 'Montserrat', sans-serif;">Items</div>
        </div>
        {% endif %}
        {% if not_added|length >= 1 or added_to_chart|length >= 1%}
        {% for post in not_added %}
            {% if post.quantity == 1 %}
                <div class="panel-body text-left" style="font-family: 'Major Mono Display', monospace; border-bottom-width: 1px;" ><a href={{ url_for('basket_status', item_id = post.id) }} class="text-left" style="color:black; text-decoration: none;">{{ post.item.upper() }}</a><button type="button" class="btn btn-warning btn-xs btn-right" data-toggle="collapse" data-target="#{{ post.id }}" style="float:right; margin-right:3%;"><span class="glyphicon glyphicon-pencil"></span></button>
                </div>
                <div id="{{ post.id }}" class="collapse panel-body text-center bg-warning" >
                    <form action="/modify/{{ post.id }}" method="POST">
                            <div class="form-row align-items-center">
                                    <div class="col-auto">
                                        <label>Item</label>
                                        {{ form.csrf_token }}
                                        {{ form.item(size=10, value=post.item) }}
                                        {{ form.quantity.label }}
                                        {{ form.quantity }}
                                       {{ form.submit() }}
                                    </div>
                                  </div>
 
                    </form>
                </div>
            {% else %}
            <div class="panel-body text-left" style="font-family: 'Major Mono Display', monospace; border-bottom-width: 1px;" ><a href={{ url_for('basket_status', item_id = post.id) }} class="text-left" style="color:black; text-decoration: none;">{{ post.item.upper() }}({{ post.quantity }})</a><button type="button" class="btn btn-warning btn-xs btn-right" data-toggle="collapse" data-target="#{{ post.id }}" style="float:right; margin-right:3%;"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
            <div id="{{ post.id }}" class="collapse panel-body text-center bg-warning" >
                <form action="/modify/{{ post.id }}" method="POST">
                    <div class="form-row align-items-center">
                            <div class="col-auto">
                                <label>Item</label>
                                {{ form.csrf_token }}
                                {{ form.item(size=10, value=post.item) }}
                                {{ form.quantity.label }}
                                {{ form.quantity }}
                               {{ form.submit() }}
                            </div>
                          </div>

            </form>
            </div>
                {% endif %}
        
        {% endfor %}

        {% if added_to_chart|length >= 1 %}
        <br>
        <div class="panel panel-success">
            <div class="panel-heading" style="font-family: 'Montserrat', sans-serif;">Added to Chart:</div>
            {% for goodie in added_to_chart %}
                {% if goodie.quantity == 1 %}
                    
                    <div class="panel-body text-left bg-success border-success" style="font-family: 'Major Mono Display', monospace;"><del><a href= {{ url_for('basket_status', item_id = goodie.id) }} style="color:black; text-decoration: none;">{{ goodie.item.upper() }}</a></del></div>
                    
                {% else %}
                <div class="panel-body text-left bg-success border-success" style="font-family: 'Major Mono Display', monospace;"><del><a href= {{ url_for('basket_status', item_id = goodie.id) }} style="color:black; text-decoration: none;">{{ goodie.item.upper() }}({{ goodie.quantity }})</a></del></div>
            {% endif %}
    {% endfor %}
    {% endif %}
    </div>    </div>
    <h1 class="col-xs-4"></h1><a href={{ url_for('delete_added_items') }} type="button" class="col-xs-4 btn btn-success" style="font-family: 'Montserrat', sans-serif;"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete</a><h1 class="col-xs-4"></h1>
    {% else %}
    <h4><a href="{{ url_for('add_new_item') }}"><u>Add</u></a> Groceries To Your ShoppingBag </h4>
    {% endif %}
    </div>
</div>
{% endblock %}
