{% extends 'bootstrap/base.html' %}
{% block title %} Let's Do This{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-inverse bg-info ">
    <p style="margin-left: 2%; color:white"><small>Welcome, {{ user }}</small></p>
    <a href= "{{ url_for('index') }}">Home</a>
</nav>

{% endblock %}
{% block content%}
<div class="container">
    <div class="row">
        <h1>POSTS</h1>
        {% for post in posts %}
            <p>User: {{ post.user }} wants {{ post.item }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}