{% extends "base.html" %}
{% block app_content %}
<div class="panel panel-default">
    <div class="panel-heading" style="font-family: 'Montserrat', sans-serif;"><b>User Information</b></div>
    <div class="panel-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span style="font-family: 'Montserrat', sans-serif;" >Username: </span><b>{{ user }}</b></li>
            <li class="list-group-item"><span style="font-family: 'Montserrat', sans-serif;" >Email: </span><b>{{ email }}</b></li>
            {% if last_logged_on != none %}<li class="list-group-item"><span style="font-family: 'Montserrat', sans-serif;" >Last Logged On: </span><b>{{ last_logged_on }}</b></li>{% endif %}
            {% if count_logged_in != none %}<li class="list-group-item"><span style="font-family: 'Montserrat', sans-serif;" >Amounts Of Visits: </span><b>{{ count_logged_in}}</b></li>{% endif %}
        </ul>
    </div>
   <div class="panel-body text-center bg-danger" style="font-family: 'Montserrat', sans-serif;" ><a href="#" class="text-left" style="color:black; text-decoration: none;"><b>Delete Account?</b></a><button type="button" class="btn btn-danger btn-xs btn-right" data-toggle="collapse" data-target="#deleteUser" style="float:right;"><i class="material-icons" style="font-size:15px;">delete_forever</i></button></div>
   <div id="deleteUser" class="collapse panel-body text-center bg-danger" >
       <a href="{{ url_for('delete_user') }}" type="button" class="btn btn-danger btn-center" >Delete User Permanently</a></div>
    <div class="panel-footer"></div>
</div>
{% endblock %}
