{% extends "base.html" %}
{% block app_content %}
<h1 style="font-family: 'Montserrat', sans-serif;">Reset Your Password</h1>
<form method="POST" action="" style="font-family: 'Montserrat', sans-serif;">
    {{ form.csrf_token }}
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=64) }}<br>
        {% for errors in form.password.errors %}
        <span style="color:red;">{{ errors }}</span>
        {% endfor %}
    </p><br>
    <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=64) }}<br>
        {% for errors in form.password2.errors %} 
        <span style="color:red;">{{ errors }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}